<h1>rest password</h1>

<form class="" name="account_form" id="account_form" ng-submit="vm.update()"
      novalidate="novalidate">


    <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
        <div class="form-group inputCust">
            <label>كلمة المرور *</label>
            <input type="password" id="password1" name="password1"
                   placeholder="6 خانات على الاقل"
                   class="form-control inputStyleCu" ng-model="vm.password"
                   ng-required="true">
        </div>
        <div class="alert alert-danger"
             ng-show="(account_form.password1.$dirty  || account_form.submitted)&& account_form.password1.$error.required">
            يجب ادخال كلمه المرور
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
        <div class="form-group inputCust">
            <label>اعادة كلمة السر *</label>
            <input type="password" id="cpassword" name="cpassword"
                   placeholder="6 خانات على الاقل"
                   class="form-control inputStyleCu" ng-model="vm.userInfo.repassword"
                   ng-required="true">
        </div>
        <div class="alert alert-danger"
             ng-show="(account_form.cpassword.$dirty  || account_form.submitted)&& account_form.cpassword.$error.required">
            يجب ادخال كلمه المرور
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
        <div class="alert alert-danger" id="signup-error" ng-if="vm.error">
            <strong>{{vm.error}}</strong>
        </div>
        <div class="alert alert-success" id="signup-success" style="display:none;">
            <strong></strong>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <button class="buttonFormSend btn btn-default" type="submit"> تعديل</button>
    </div>
    <div class="clearfix"></div>


    <div class="clearfix"></div>
</form>